<a href="https://colab.research.google.com/github/shreyabhandarii/Women-Labour-Force-Participation/blob/master/Class_project_clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
import numpy as np

In [3]:
from google.colab import drive 
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [4]:
LFP=pd.read_csv('/content/gdrive/My Drive/data/work_asgn.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (45,50,98) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
LFP.T

                                                      0       ...          204568
SURVEY                                             IHDS-II 2  ...       IHDS-II 2
STATEID                                   Jammu & Kashmir 01  ...  Pondicherry 34
DISTID                                                     2  ...               0
PSUID                                                      1  ...               6
HHID                                                      10  ...             140
HHSPLITID                                                  1  ...               1
PERSONID                                                   1  ...               4
IDPSU                                                  10201  ...          340206
IDHH                                               102010101  ...      3402061401
IDPERSON                                          1.0201e+10  ...     3.40206e+11
WT                                                   3687.93  ...         8239.86
FWT                                                     3688  ...            8240
DIST01                                                     2  ...               0
DISTRICT                                            Baramula  ...     Pondicherry
RO3                                                   Male 1  ...        Female 2
RO4                                                   Head 1  ...  Son/Daughter 3
RO5                                                       57  ...              15
RO6                                                Married 1  ...     Unmarried 2
RO7                                                Others 15  ...      Student 12
RO8                                                        2  ...             NaN
RO9          IF Spouse/Parent outside for more than 6 months  ...               1
RO10         IF Spouse/Parent outside for more than 6 months  ...               2
FM1                                                    Yes 1  ...           Yes 1
FM36Y                                                   No 0  ...            No 0
FM37                                                     NaN  ...             NaN
FM38                                                     NaN  ...             NaN
FMHOURS                                                  NaN  ...             NaN
WKFARM                                                none 0  ...          none 0
FM39AY                                                  No 0  ...            No 0
AN1                                                    Yes 1  ...            No 0
...                                                      ...  ...             ...
NWKBUSINESS                                                0  ...               0
NWKFARM                                                    0  ...               1
NWKANIMAL                                                  1  ...               0
NWKNREGA                                                   0  ...               0
NWKNREGA4                                                  0  ...               0
NWKNONNREGA                                                2  ...               0
NWKANY5                                                    3  ...               2
INCNONAG                                               30000  ...               0
INCAGLAB                                                   0  ...               0
INCSALARY                                             137200  ...          185000
INCNREGA                                                   0  ...               0
INCNONNREGA                                            30000  ...               0
NNR                                                        0  ...               0
HHEDUC                                           9th class 9  ...    Secondary 10
HHEDUCM                                          9th class 9  ...    Secondary 10
HHEDUCF                                          8th class 8  ...     7th class 7
psum_cult                                            11063.8  ...         24719.6
psum_agwg                                            18439.6  ...         8239.86
psum_nagwg                                           25815.5  ...         65918.8
psum_sbsns                                           22127.6  ...         16479.7
psum_obsns                                                 0  ...               0
psum_salry                                           62694.7  ...           57679
psum_priact                                           140141  ...          173037
pshm_cult                                          0.0789474  ...        0.142857
pshm_agwg                                           0.131579  ...        0.047619
pshm_nagwg                                          0.184211  ...        0.380952
pshm_sbns                                           0.157895  ...       0.0952381
pshm_obns                                                  0  ...               0
pshm_salry                                          0.447368  ...        0.333333
_merge                                           matched (3)  ...     matched (3)

[214 rows x 204569 columns]

In [6]:
LFP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204569 entries, 0 to 204568
Columns: 214 entries, SURVEY to _merge
dtypes: float64(121), int64(7), object(86)
memory usage: 334.0+ MB

In [7]:
LFP.describe()

              DISTID          PSUID  ...      pshm_obns     pshm_salry
count  204569.000000  204569.000000  ...  204565.000000  204565.000000
mean       15.172147       5.479721  ...       0.013362       0.214559
std        13.297806       5.511777  ...       0.045888       0.221090
min         0.000000       1.000000  ...       0.000000       0.000000
25%         6.000000       2.000000  ...       0.000000       0.050000
50%        12.000000       4.000000  ...       0.000000       0.133333
75%        21.000000       7.000000  ...       0.000000       0.315789
max        68.000000      39.000000  ...       0.750000       1.000000

[8 rows x 128 columns]

In [8]:
LFP.head()

      SURVEY             STATEID  DISTID  ...  pshm_obns  pshm_salry       _merge
0  IHDS-II 2  Jammu & Kashmir 01       2  ...        0.0    0.447368  matched (3)
1  IHDS-II 2  Jammu & Kashmir 01       2  ...        0.0    0.447368  matched (3)
2  IHDS-II 2  Jammu & Kashmir 01       2  ...        0.0    0.447368  matched (3)
3  IHDS-II 2  Jammu & Kashmir 01       2  ...        0.0    0.447368  matched (3)
4  IHDS-II 2  Jammu & Kashmir 01       2  ...        0.0    0.447368  matched (3)

[5 rows x 214 columns]

In [9]:
LFP.dtypes

SURVEY          object
STATEID         object
DISTID           int64
PSUID            int64
HHID             int64
HHSPLITID        int64
PERSONID       float64
IDPSU            int64
IDHH             int64
IDPERSON       float64
WT             float64
FWT            float64
DIST01         float64
DISTRICT        object
RO3             object
RO4             object
RO5            float64
RO6             object
RO7             object
RO8             object
RO9             object
RO10            object
FM1             object
FM36Y           object
FM37           float64
FM38           float64
FMHOURS        float64
WKFARM          object
FM39AY          object
AN1             object
                ...
NWKBUSINESS    float64
NWKFARM        float64
NWKANIMAL      float64
NWKNREGA       float64
NWKNREGA4      float64
NWKNONNREGA    float64
NWKANY5        float64
INCNONAG       float64
INCAGLAB       float64
INCSALARY      float64
INCNREGA       float64
INCNONNREGA    float64
NNR              int64
HHEDUC          object
HHEDUCM         object
HHEDUCF         object
psum_cult      float64
psum_agwg      float64
psum_nagwg     float64
psum_sbsns     float64
psum_obsns     float64
psum_salry     float64
psum_priact    float64
pshm_cult      float64
pshm_agwg      float64
pshm_nagwg     float64
pshm_sbns      float64
pshm_obns      float64
pshm_salry     float64
_merge          object
Length: 214, dtype: object

In [10]:
LFP.nunique()

SURVEY              1
STATEID            33
DISTID             61
PSUID              39
HHID              197
HHSPLITID           7
PERSONID           33
IDPSU            2462
IDHH            42152
IDPERSON       204568
WT               1433
FWT              1312
DIST01             61
DISTRICT          372
RO3                 2
RO4                12
RO5               100
RO6                 6
RO7                15
RO8                37
RO9                36
RO10               35
FM1                 2
FM36Y               2
FM37              211
FM38               16
FMHOURS           532
WKFARM              5
FM39AY              2
AN1                 2
                ...
NWKBUSINESS         8
NWKFARM            14
NWKANIMAL           9
NWKNREGA            7
NWKNREGA4           8
NWKNONNREGA         8
NWKANY5            14
INCNONAG         3019
INCAGLAB         1470
INCSALARY        2747
INCNREGA          876
INCNONNREGA      1744
NNR                10
HHEDUC             17
HHEDUCM            17
HHEDUCF            17
psum_cult        1394
psum_agwg         980
psum_nagwg       1491
psum_sbsns       1243
psum_obsns        200
psum_salry       1353
psum_priact      1765
pshm_cult         573
pshm_agwg         415
pshm_nagwg        545
pshm_sbns         453
pshm_obns         137
pshm_salry        524
_merge              2
Length: 214, dtype: int64

In [0]:
lfp=LFP.copy()

In [12]:
lfp.isnull().sum()

SURVEY              1
STATEID             0
DISTID              0
PSUID               0
HHID                0
HHSPLITID           0
PERSONID            1
IDPSU               0
IDHH                0
IDPERSON            1
WT                  1
FWT                 1
DIST01            106
DISTRICT          106
RO3                 1
RO4                 1
RO5                 4
RO6                 4
RO7                 4
RO8             92522
RO9             49598
RO10            50099
FM1                 1
FM36Y          107001
FM37           158320
FM38           158337
FMHOURS        158345
WKFARM              1
FM39AY         107001
AN1                 1
                ...
NWKBUSINESS         1
NWKFARM             1
NWKANIMAL           1
NWKNREGA            1
NWKNREGA4           1
NWKNONNREGA         1
NWKANY5             1
INCNONAG            1
INCAGLAB            1
INCSALARY           1
INCNREGA            1
INCNONNREGA         1
NNR                 0
HHEDUC             32
HHEDUCM          8791
HHEDUCF          1445
psum_cult           4
psum_agwg           4
psum_nagwg          4
psum_sbsns          4
psum_obsns          4
psum_salry          4
psum_priact         4
pshm_cult           4
pshm_agwg           4
pshm_nagwg          4
pshm_sbns           4
pshm_obns           4
pshm_salry          4
_merge              0
Length: 214, dtype: int64

In [13]:
lfp=LFP.query('15<=RO5<=65')
lfp.RO5.describe()

count    135474.000000
mean         35.478254
std          14.155778
min          15.000000
25%          23.000000
50%          34.000000
75%          46.000000
max          65.000000
Name: RO5, dtype: float64

In [14]:
lfp=LFP[LFP['RO3'] == 'Female 2' ]
lfp.RO3.describe()

count       102506
unique           1
top       Female 2
freq        102506
Name: RO3, dtype: object

In [15]:
lfp['age_groups'] = pd.cut(lfp.RO5, bins=[15, 30, 50, 65], labels=['fresher', 'experienced', 'elderly'])
lfp.age_groups.describe()
lfp.age_groups.value_counts()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

fresher        28553
experienced    26361
elderly        12184
Name: age_groups, dtype: int64

In [16]:
lfp['N_children']=LFP['NCHILDM']+LFP['NCHILDF']
lfp.N_children.describe()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

count    102506.000000
mean          1.890367
std           1.685299
min           0.000000
25%           1.000000
50%           2.000000
75%           3.000000
max          18.000000
Name: N_children, dtype: float64

In [17]:
FPR=lfp.drop(['NCHILDM','NCHILDF'],axis=1)
FPR.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102506 entries, 1 to 204568
Columns: 214 entries, SURVEY to N_children
dtypes: category(1), float64(120), int64(7), object(86)
memory usage: 167.5+ MB

In [18]:
lfp[lfp['RO7'].isnull()]

           SURVEY        STATEID  DISTID  ...       _merge  age_groups  N_children
87633   IHDS-II 2       Assam 18       9  ...  matched (3)     elderly         2.0
198987  IHDS-II 2  Tamil Nadu 33      10  ...  matched (3)         NaN         1.0

[2 rows x 216 columns]

In [19]:
lfp.RO7.isnull().any()

True

In [20]:
lfp.RO7.isnull().sum()

2

In [21]:
lfp["ID11"].value_counts()

Hindu 1        82136
Muslim 2       13963
Christian 3     2704
Sikh 4          2297
Buddhist 5       600
Tribal 7         445
Jain 6           240
Others 8          94
None 9            26
Name: ID11, dtype: int64

In [22]:
lfp["RO6"].value_counts()

Married 1                 47446
Unmarried 2               41053
Widowed 3                  9947
Married, spouse absent     3198
Separated/Divorced 4        638
Married no gauna 5          223
Name: RO6, dtype: int64

In [23]:
lfp["RO7"].value_counts()

Housework 11            46901
Student 12              26132
Too young/Unfit 14      12461
Ag wage labour 3         4338
Nonag wage labour 4      3198
Salaried 8               2843
Cultivation 1            2722
Unemployed 13            1057
Small business 6          935
Others 15                 709
Retired 10                558
Artisan/indpt work 5      247
Allied ag 2               214
Profession 9              127
Organized Business 7       62
Name: RO7, dtype: int64

In [0]:
#custom kisko kya assign krna h jesa hum abhi krre the#find n replace


lfp = lfp.fillna({"ID11": "Hindu 1"})
lfp.dropna(subset=["RO6"], inplace=True)# inplace, No need to assign back to dataframe (because it is on the same copy)#w/o inplace or =F(default), Have to assign back to dataframe (because it is a new copy)
lfp = lfp.fillna({"RO7": "Housework 11"})
new_asn = {"ID11":     {"Hindu 1": 0, "Muslim 2": 1, "Christian 3": 2, "Sikh 4":2,"Buddhist 5":2,"Tribal 7":2,"Jain 6":2,"Others 8":2, "None 9":2},
            "RO6": {"Married 1": 0, "Unmarried 2": 1, "Widowed 3": 2, "Married, spouse absent": 0, "Separated/Divorced 4":1 ,
                                  "Married no gauna 5": 0 },
          "RO7": {"Housework 11": 0,"Student 12": 0, "Too young/Unfit 14": 0, "Unemployed 13": 0, "Retired 10": 0, "Others 15": 0, 
                  "Ag wage labour 3": 1,"Nonag wage labour 4": 1, "Salaried 8": 1, "Cultivation 1": 1, "Small business 6": 1, "Artisan/indpt work 5": 1, "Allied ag 2": 1, "Profession 9": 1, "Organized Business 7": 1}
          }
                
lfp.replace(new_asn, inplace=True)

In [25]:
lfp.ID11.describe()

count    102505.000000
mean          0.261207
std           0.563888
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           2.000000
Name: ID11, dtype: float64

In [26]:
lfp.RO6.describe()

count    102505.000000
mean          0.600800
std           0.658728
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           2.000000
Name: RO6, dtype: float64

In [27]:
lfp.RO7.describe()

count    102505.000000
mean          0.143271
std           0.350351
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: RO7, dtype: float64

In [28]:
pd.get_dummies(lfp, columns=["ID11","RO6", "RO7"], drop_first=True)

           SURVEY             STATEID  DISTID  PSUID  ...  ID11_2  RO6_1  RO6_2  RO7_1
1       IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      0      0      0
3       IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
5       IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      0      0      0
7       IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
11      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      0      0      0
13      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
16      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      0      0      1
18      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
19      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
21      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      0      0      1
22      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
26      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      0      0      0
27      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
29      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
31      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
33      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      0      0      0
34      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
35      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
38      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      0      0      0
40      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      0      0      0
41      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
43      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      0      0      0
49      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      0      0      0
50      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
51      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
53      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      0      0      0
57      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      0      0      0
59      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      0      0      0
60      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
62      IHDS-II 2  Jammu & Kashmir 01       2      1  ...       0      1      0      0
...           ...                 ...     ...    ...  ...     ...    ...    ...    ...
204501  IHDS-II 2      Pondicherry 34       0      6  ...       0      1      0      0
204503  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      1      0
204504  IHDS-II 2      Pondicherry 34       0      6  ...       0      1      0      0
204505  IHDS-II 2      Pondicherry 34       0      6  ...       0      1      0      1
204507  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      0      0
204509  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      0      0
204512  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      1      1
204515  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      0      0
204517  IHDS-II 2      Pondicherry 34       0      6  ...       0      1      0      0
204519  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      0      0
204520  IHDS-II 2      Pondicherry 34       0      6  ...       0      1      0      0
204523  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      0      0
204527  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      0      1
204532  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      0      0
204535  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      0      0
204536  IHDS-II 2      Pondicherry 34       0      6  ...       0      1      0      0
204540  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      0      0
204541  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      0      0
204543  IHDS-II 2      Pondicherry 34       0      6  ...       0      1      0      0
204544  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      1      0
204546  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      0      1
204548  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      0      0
204551  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      0      1
204554  IHDS-II 2      Pondicherry 34       0      6  ...       0      1      0      1
204557  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      1      0
204558  IHDS-II 2      Pondicherry 34       0      6  ...       0      1      0      1
204560  IHDS-II 2      Pondicherry 34       0      6  ...       0      1      0      0
204562  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      0      0
204566  IHDS-II 2      Pondicherry 34       0      6  ...       0      0      0      0
204568  IHDS-II 2      Pondicherry 34       0      6  ...       0      1      0      0

[102505 rows x 218 columns]