<a href="https://colab.research.google.com/github/shreyabhandarii/Women-Labour-Force-Participation/blob/master/Class_project_clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
import numpy as np

In [46]:
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [47]:
LFP=pd.read_csv('/content/gdrive/My Drive/data/work_asgn.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (45,50,98) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [48]:
LFP.T

                                                      0       ...          204568
SURVEY                                             IHDS-II 2  ...       IHDS-II 2
STATEID                                   Jammu & Kashmir 01  ...  Pondicherry 34
DISTID                                                     2  ...               0
PSUID                                                      1  ...               6
HHID                                                      10  ...             140
HHSPLITID                                                  1  ...               1
PERSONID                                                   1  ...               4
IDPSU                                                  10201  ...          340206
IDHH                                               102010101  ...      3402061401
IDPERSON                                          1.0201e+10  ...     3.40206e+11
WT                                                   3687.93  ...         8239.86
FWT                                                     3688  ...            8240
DIST01                                                     2  ...               0
DISTRICT                                            Baramula  ...     Pondicherry
RO3                                                   Male 1  ...        Female 2
RO4                                                   Head 1  ...  Son/Daughter 3
RO5                                                       57  ...              15
RO6                                                Married 1  ...     Unmarried 2
RO7                                                Others 15  ...      Student 12
RO8                                                        2  ...             NaN
RO9          IF Spouse/Parent outside for more than 6 months  ...               1
RO10         IF Spouse/Parent outside for more than 6 months  ...               2
FM1                                                    Yes 1  ...           Yes 1
FM36Y                                                   No 0  ...            No 0
FM37                                                     NaN  ...             NaN
FM38                                                     NaN  ...             NaN
FMHOURS                                                  NaN  ...             NaN
WKFARM                                                none 0  ...          none 0
FM39AY                                                  No 0  ...            No 0
AN1                                                    Yes 1  ...            No 0
...                                                      ...  ...             ...
NWKBUSINESS                                                0  ...               0
NWKFARM                                                    0  ...               1
NWKANIMAL                                                  1  ...               0
NWKNREGA                                                   0  ...               0
NWKNREGA4                                                  0  ...               0
NWKNONNREGA                                                2  ...               0
NWKANY5                                                    3  ...               2
INCNONAG                                               30000  ...               0
INCAGLAB                                                   0  ...               0
INCSALARY                                             137200  ...          185000
INCNREGA                                                   0  ...               0
INCNONNREGA                                            30000  ...               0
NNR                                                        0  ...               0
HHEDUC                                           9th class 9  ...    Secondary 10
HHEDUCM                                          9th class 9  ...    Secondary 10
HHEDUCF                                          8th class 8  ...     7th class 7
psum_cult                                            11063.8  ...         24719.6
psum_agwg                                            18439.6  ...         8239.86
psum_nagwg                                           25815.5  ...         65918.8
psum_sbsns                                           22127.6  ...         16479.7
psum_obsns                                                 0  ...               0
psum_salry                                           62694.7  ...           57679
psum_priact                                           140141  ...          173037
pshm_cult                                          0.0789474  ...        0.142857
pshm_agwg                                           0.131579  ...        0.047619
pshm_nagwg                                          0.184211  ...        0.380952
pshm_sbns                                           0.157895  ...       0.0952381
pshm_obns                                                  0  ...               0
pshm_salry                                          0.447368  ...        0.333333
_merge                                           matched (3)  ...     matched (3)

[214 rows x 204569 columns]

In [49]:
LFP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204569 entries, 0 to 204568
Columns: 214 entries, SURVEY to _merge
dtypes: float64(121), int64(7), object(86)
memory usage: 334.0+ MB

In [50]:
LFP.describe()

              DISTID          PSUID  ...      pshm_obns     pshm_salry
count  204569.000000  204569.000000  ...  204565.000000  204565.000000
mean       15.172147       5.479721  ...       0.013362       0.214559
std        13.297806       5.511777  ...       0.045888       0.221090
min         0.000000       1.000000  ...       0.000000       0.000000
25%         6.000000       2.000000  ...       0.000000       0.050000
50%        12.000000       4.000000  ...       0.000000       0.133333
75%        21.000000       7.000000  ...       0.000000       0.315789
max        68.000000      39.000000  ...       0.750000       1.000000

[8 rows x 128 columns]

In [51]:
LFP.head()

      SURVEY             STATEID  DISTID  ...  pshm_obns  pshm_salry       _merge
0  IHDS-II 2  Jammu & Kashmir 01       2  ...        0.0    0.447368  matched (3)
1  IHDS-II 2  Jammu & Kashmir 01       2  ...        0.0    0.447368  matched (3)
2  IHDS-II 2  Jammu & Kashmir 01       2  ...        0.0    0.447368  matched (3)
3  IHDS-II 2  Jammu & Kashmir 01       2  ...        0.0    0.447368  matched (3)
4  IHDS-II 2  Jammu & Kashmir 01       2  ...        0.0    0.447368  matched (3)

[5 rows x 214 columns]

In [52]:
LFP.dtypes

SURVEY          object
STATEID         object
DISTID           int64
PSUID            int64
HHID             int64
HHSPLITID        int64
PERSONID       float64
IDPSU            int64
IDHH             int64
IDPERSON       float64
WT             float64
FWT            float64
DIST01         float64
DISTRICT        object
RO3             object
RO4             object
RO5            float64
RO6             object
RO7             object
RO8             object
RO9             object
RO10            object
FM1             object
FM36Y           object
FM37           float64
FM38           float64
FMHOURS        float64
WKFARM          object
FM39AY          object
AN1             object
                ...
NWKBUSINESS    float64
NWKFARM        float64
NWKANIMAL      float64
NWKNREGA       float64
NWKNREGA4      float64
NWKNONNREGA    float64
NWKANY5        float64
INCNONAG       float64
INCAGLAB       float64
INCSALARY      float64
INCNREGA       float64
INCNONNREGA    float64
NNR              int64
HHEDUC          object
HHEDUCM         object
HHEDUCF         object
psum_cult      float64
psum_agwg      float64
psum_nagwg     float64
psum_sbsns     float64
psum_obsns     float64
psum_salry     float64
psum_priact    float64
pshm_cult      float64
pshm_agwg      float64
pshm_nagwg     float64
pshm_sbns      float64
pshm_obns      float64
pshm_salry     float64
_merge          object
Length: 214, dtype: object

In [53]:
LFP.nunique()

SURVEY              1
STATEID            33
DISTID             61
PSUID              39
HHID              197
HHSPLITID           7
PERSONID           33
IDPSU            2462
IDHH            42152
IDPERSON       204568
WT               1433
FWT              1312
DIST01             61
DISTRICT          372
RO3                 2
RO4                12
RO5               100
RO6                 6
RO7                15
RO8                37
RO9                36
RO10               35
FM1                 2
FM36Y               2
FM37              211
FM38               16
FMHOURS           532
WKFARM              5
FM39AY              2
AN1                 2
                ...
NWKBUSINESS         8
NWKFARM            14
NWKANIMAL           9
NWKNREGA            7
NWKNREGA4           8
NWKNONNREGA         8
NWKANY5            14
INCNONAG         3019
INCAGLAB         1470
INCSALARY        2747
INCNREGA          876
INCNONNREGA      1744
NNR                10
HHEDUC             17
HHEDUCM            17
HHEDUCF            17
psum_cult        1394
psum_agwg         980
psum_nagwg       1491
psum_sbsns       1243
psum_obsns        200
psum_salry       1353
psum_priact      1765
pshm_cult         573
pshm_agwg         415
pshm_nagwg        545
pshm_sbns         453
pshm_obns         137
pshm_salry        524
_merge              2
Length: 214, dtype: int64

In [0]:
lfp=LFP.copy()

In [55]:
lfp.isnull().sum()

SURVEY              1
STATEID             0
DISTID              0
PSUID               0
HHID                0
HHSPLITID           0
PERSONID            1
IDPSU               0
IDHH                0
IDPERSON            1
WT                  1
FWT                 1
DIST01            106
DISTRICT          106
RO3                 1
RO4                 1
RO5                 4
RO6                 4
RO7                 4
RO8             92522
RO9             49598
RO10            50099
FM1                 1
FM36Y          107001
FM37           158320
FM38           158337
FMHOURS        158345
WKFARM              1
FM39AY         107001
AN1                 1
                ...
NWKBUSINESS         1
NWKFARM             1
NWKANIMAL           1
NWKNREGA            1
NWKNREGA4           1
NWKNONNREGA         1
NWKANY5             1
INCNONAG            1
INCAGLAB            1
INCSALARY           1
INCNREGA            1
INCNONNREGA         1
NNR                 0
HHEDUC             32
HHEDUCM          8791
HHEDUCF          1445
psum_cult           4
psum_agwg           4
psum_nagwg          4
psum_sbsns          4
psum_obsns          4
psum_salry          4
psum_priact         4
pshm_cult           4
pshm_agwg           4
pshm_nagwg          4
pshm_sbns           4
pshm_obns           4
pshm_salry          4
_merge              0
Length: 214, dtype: int64

In [56]:
lfp=LFP[LFP['RO3'] == 'Female 2' ]
lfp.RO3.describe()

count       102506
unique           1
top       Female 2
freq        102506
Name: RO3, dtype: object

In [57]:
lfp.RO5.isnull().sum()

2

In [58]:
lfp.dropna(subset=["RO5"], inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [59]:
lfp=LFP.query('15<=RO5<=65')
lfp.RO5.describe()

count    135474.000000
mean         35.478254
std          14.155778
min          15.000000
25%          23.000000
50%          34.000000
75%          46.000000
max          65.000000
Name: RO5, dtype: float64

In [60]:
lfp['age_groups'] = pd.cut(lfp.RO5, bins=[14.5, 30.5, 50.5, 65.5], labels=['fresher', 'experienced', 'elderly'])
lfp.age_groups.describe()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

count      135474
unique          3
top       fresher
freq        59882
Name: age_groups, dtype: object

In [61]:
lfp.age_groups.isnull().sum()

0

In [62]:
lfp.age_groups.value_counts()

fresher        59882
experienced    51442
elderly        24150
Name: age_groups, dtype: int64

In [63]:
lfp["age_groups"] = lfp["age_groups"].astype('category')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [64]:
lfp.age_groups.dtypes

CategoricalDtype(categories=['fresher', 'experienced', 'elderly'], ordered=True)

In [65]:
lfp["age_groups_cat"] = lfp["age_groups"].cat.codes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [66]:
lfp.age_groups_cat.value_counts()

0    59882
1    51442
2    24150
Name: age_groups_cat, dtype: int64

In [0]:
#lfp['N_children']=LFP['NCHILDM']+LFP['NCHILDF']
#lfp.N_children.describe()

In [0]:
#FPR=lfp.drop(['NCHILDM','NCHILDF'],axis=1)

In [69]:
lfp[lfp['RO7'].isnull()]

          SURVEY           STATEID  ...  age_groups  age_groups_cat
69853  IHDS-II 2  Uttar Pradesh 09  ...     fresher               0
87633  IHDS-II 2          Assam 18  ...     elderly               2

[2 rows x 216 columns]

In [70]:
lfp.RO7.isnull().any()

True

In [71]:
lfp.RO7.isnull().sum()

2

In [72]:
lfp["ID11"].value_counts()

Hindu 1        109119
Muslim 2        17376
Christian 3      3646
Sikh 4           3304
Buddhist 5        881
Tribal 7          643
Jain 6            351
Others 8          112
None 9             41
Name: ID11, dtype: int64

In [73]:
lfp["RO6"].value_counts()

Married 1                 88785
Unmarried 2               35090
Widowed 3                  6762
Married, spouse absent     3641
Separated/Divorced 4        919
Married no gauna 5          275
Name: RO6, dtype: int64

In [74]:
lfp["RO7"].value_counts()

Housework 11            44857
Nonag wage labour 4     16784
Student 12              16733
Cultivation 1           15068
Salaried 8              13969
Ag wage labour 3         9444
Small business 6         7751
Too young/Unfit 14       3029
Unemployed 13            2796
Artisan/indpt work 5     1328
Retired 10               1184
Others 15                 781
Organized Business 7      747
Allied ag 2               619
Profession 9              382
Name: RO7, dtype: int64

In [75]:
lfp["ED6"].value_counts()

none 0                    35322
Secondary 10              14863
9th class 9               13229
High Secondary 12         10863
8th class 8               10671
5th class 5               10259
Bachelors 15               7518
7th class 7                7372
11th Class 11              4748
4th class 4                4080
Above Bachelors 16         3699
6th class 6                3622
3rd class 3                2814
2nd class 2                2133
2 years post-secondary     1922
1 year post-secondary      1681
1st class 1                 494
Name: ED6, dtype: int64

In [76]:
lfp["URBAN2011"].value_counts()

rural 0    86788
urban 1    48686
Name: URBAN2011, dtype: int64

In [0]:
#custom kisko kya assign krna h jesa hum abhi krre the#find n replace


lfp = lfp.fillna({"ID11": "Hindu 1"})
lfp.dropna(subset=["RO6"], inplace=True)# inplace, No need to assign back to dataframe (because it is on the same copy)#w/o inplace or =F(default), Have to assign back to dataframe (because it is a new copy)
lfp = lfp.fillna({"RO7": "Housework 11"})
lfp = lfp.fillna({"ED6": "none 0"})
new_asn = {"ID11":     {"Hindu 1": 0, "Muslim 2": 1, "Christian 3": 2, "Sikh 4":2,"Buddhist 5":2,"Tribal 7":2,"Jain 6":2,"Others 8":2, "None 9":2},
            "RO6": {"Married 1": 0, "Unmarried 2": 1, "Widowed 3": 2, "Married, spouse absent": 0, "Separated/Divorced 4":1 ,
                                  "Married no gauna 5": 0 },
          "RO7": {"Housework 11": 0,"Student 12": 0, "Too young/Unfit 14": 0, "Unemployed 13": 0, "Retired 10": 0, "Others 15": 0, 
                  "Ag wage labour 3": 1,"Nonag wage labour 4": 1, "Salaried 8": 1, "Cultivation 1": 1, "Small business 6": 1, 
                  "Artisan/indpt work 5": 1, "Allied ag 2": 1, "Profession 9": 1, "Orgaonized Business 7": 1}, 
          "ED6": {"none 0": 0, "5th class 5": 1, "8th class 8": 1, "9th class 9": 1,"4th class 4": 1,"3rd class 3": 1,"6th class 6": 1,"1st class 1": 1, "2nd class 2": 1,"7th class 7": 1,"Secondary 10": 2,"11th Class 11": 2,"High Secondary 12": 2,"Bachelors 15": 3,"Above Bachelors 16": 3,"2 years post-secondary": 3,"1 year post-secondary": 3},
          "URBAN2011": {"rural 0": 0,"urban 1": 1}
          }
                
lfp.replace(new_asn, inplace=True)

In [78]:
lfp.ID11.describe()

count    135472.000000
mean          0.260807
std           0.570380
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           2.000000
Name: ID11, dtype: float64

In [79]:
lfp.RO6.describe()

count    135472.000000
mean          0.365633
std           0.576001
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           2.000000
Name: RO6, dtype: float64

In [80]:
lfp.RO7.describe()

count     135472
unique         3
top            0
freq       69382
Name: RO7, dtype: int64

In [81]:
lfp.ED6.describe()

count    135472.000000
mean          1.181646
std           0.944254
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max           3.000000
Name: ED6, dtype: float64

In [82]:
lfp.URBAN2011.describe()

count    135472.000000
mean          0.359373
std           0.479818
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: URBAN2011, dtype: float64

In [0]:
lfp=pd.get_dummies(lfp, columns=["ID11","RO6", "RO7","URBAN2011"], drop_first=True)

In [0]:
df=lfp.loc[:,["INCOME","ID11_1","ID11_2","RO6_1","RO6_2", "RO7_1","ED6","URBAN2011_1","age_groups_cat"]]

In [0]:
df.rename(columns={'INCOME': 'THHY', 'ID11_1': 'Muslim','ID11_2': 'Religion_Others', 'RO6_1': 'Unmarried', 'RO6_2': 'Widowed', 'RO7_1': 'Employed', 'ED6': 'Ed_Lvl', 'ED6_2': 'Secondary_Ed', 'ED6_3': 'Tertiary_Ed', 'URBAN2011_1':'Urban', 'age_groups_cat': 'age_groups'}, inplace=True)

In [86]:
df.head()

       THHY  Muslim  Religion_Others  ...  Ed_Lvl  Urban  age_groups
0  176100.0       1                0  ...       0      0           2
1  176100.0       1                0  ...       0      0           1
2  176100.0       1                0  ...       1      0           0
4  176100.0       1                0  ...       1      0           0
5  176100.0       1                0  ...       1      0           0

[5 rows x 9 columns]